* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
}

main {
    padding: 20px;
    background-color: hsl(210, 46%, 95%);
    color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    box-shadow: -2px -2px 8px hsl(0, 0%, 86%);
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    "daniel"
    "jonathan"
    "jeanette"
    "patrick"
    "kira"
    ;
}

img {
    max-width: 100%;
    height: 50px;
    border-radius: 50%;
}

.testimony {
    /* margin: 20px auto; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 5px hsl(0, 0%, 81%);
    width: 100%;
    height: auto;
}

.grad {
    display: flex;
    align-items: center;
}

.grad-info {
    margin-left: 20px;
}

.grad-info > p {
    margin: 0;
}

.daniel {
    background-color: hsl(263, 55%, 52%);
    background-image: url('images/bg-pattern-quotation.svg');
    background-size: 135px;
    background-position: right 50px top;
    background-repeat: no-repeat;
    grid-area: daniel;
}

.jonathan {
    background-color: hsl(217, 19%, 35%);
    grid-area: jonathan;
}

.jeanette {
    background-color: #fff;
    color: hsl(217, 19%, 35%);
    grid-area: jeanette;
}

.patrick {
    background-color: hsl(219, 29%, 14%);
    color: hsl(210, 46%, 95%);
    grid-area: patrick;
}

.kira {
    background-color: #fff;
    color: darkslategray;
    grid-area: kira;
}

.half-opac {
    opacity: 50%;
}

.opac {
    opacity: 70%;
}


@media (min-width: 600px) {
    main {
        
        display: grid;
        grid-gap: 20px;
        /* grid-template-columns: repeat(4, 1fr); */
        grid-template-areas: 
            "daniel daniel" 
            "jonathan kira"
            "jeanette kira"
            "patrick patrick"
        ;
    }

    .testimony {
        margin: 0;
    }

}

@media (min-width: 1000px) {
    main {
        height: 98vh;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            "daniel daniel jonathan kira"
            "jeanette patrick patrick kira"
        ;
    }

    .testimony {
        margin: 0;
    }

}

